{% if (data.partida is not defined or data.transacciones is not defined) %}
    <p class="bg-danger">No se encontró datos para la partida especificada</p>
{% endif %}
<h3>Partida</h1>
<table class="table table-bordered">
    <tr><th class="text-right" style="width:200px">Codigo partida</th><td>{{data.partida.codigo}}</td></tr>
    <tr><th class="text-right">Fecha creada</th><td>{{data.partida.creado|date('h:ip, d-m-Y') }}</td></tr>
    <tr><th class="text-right">Fecha actualizada</th><td>{{data.partida.actualizado|date('h:ip, d-m-Y') }}</td></tr>
    <tr><th class="text-right">Cuadre</th><td>{{data.cuadre|number_format(2, '.', ',')}}</td></tr>
</table>
<h3>Transacciones</h1>
<table style="width:600px;border-collapse: collapse">
    <tr>
        <th class="text-center" style="border:none;width:250px ">Cuenta</th>
        <th class="text-center" style="border:none;border-right: 1px solid grey; border-bottom: 1px solid grey;width:250px ">Debe</th>
        <th class="text-center"style="border:none;border-left: 1px solid grey; border-bottom: 1px solid grey;width:250px ">Haber</th>
    </tr>
    {% for transaccion in data.transacciones %}
    <tr>
        <td class="text-right" style="border:none;border-right: 1px solid grey;padding-right:5px;">{{transaccion.cuenta.id}}. {{transaccion.cuenta.nombre}}</td>
        <td class="text-center" style="border:none;border-right: 1px solid grey; ">{% if (transaccion.tipo == 0) %}{{transaccion.monto|number_format(2, '.', ',')}}{% endif %}</td>
        <td class="text-center" style="border:none;border-left: 1px solid grey; ">{% if (transaccion.tipo == 1) %}{{transaccion.monto|number_format(2, '.', ',')}}{% endif %}</td>
        
    </tr>
    {% endfor %}
</table>