<ul class="nav" id="side-menu">
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Búscar">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <!-- /input-group -->
    </li>
    <li>
        <a href="{{ path("lcc_main_homepage") }}"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
    </li>
    {% set empresaEstablecida = render(controller('LCCMainBundle:layout:empresaEstablecida')) %}
    
    {% if (empresaEstablecida) %} 
    <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Reportes<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li><a href="{{ path("lcc_reportes", {id : 0}) }}">Libro auxiliar del mayor</a></li>
            <li><a href="{{ path("lcc_reportes", {id : 1}) }}">Partida de diario</a></li>
            <li><a href="{{ path("lcc_reportes", {id : 2}) }}">Balance de comprobación</a></li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-table fa-fw"></i> Catálogo de cuentas<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{{ path ('lcc_catCuenta_index') }}">Listado</a>
            </li>
            <li>
                <a href="{{ path ('lcc_catCuenta_new') }}">Crear</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#"><i class="fa fa-edit fa-fw"></i> Partidas contables<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="{{ path('lcc_partida')}}">Listado</a>
            </li>
            <li>
                <a href="{{ path('lcc_partida_codigo')}}">Búscar código</a>
            </li>
            <li>
                <a href="{{ path('lcc_partida_fecha')}}">Búscar fecha</a>
            </li>
            <li>
                <a href="{{ path('lcc_partida_new')}}">Crear</a>
            </li>
        </ul>
    </li>
    {% endif %}
    <li>
        <a href="#"><i class="fa fa-sitemap fa-fw"></i>Sucursales</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-files-o fa-fw"></i> Respaldos</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> Ajustes<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#">Usuarios</a>
            </li>
            <li>
                <a href="{{ path('lcc_accesos') }}">Accesos</a>
            </li>

            <li>
                <a href="#">Empresas</a>
            </li>
            <li>
                <a href="#">Sucursales</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
</ul>