{% extends '::base.html.twig' %}

{% block page_sub_header %}Catálogo de cuentas{% endblock %}

{% block body %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Código</th><th>Nombre</th><th>Activo</th><th>Cuenta de agrupación</th><th>Creador por</th><th>Comentario</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data.cuentas %}
                <tr>
                    <td style="width:100px">{{ row.codigo }}</td>
                    <td>{{ row.nombre }}</td>
                    <td>
                        {% if (row.activo) %}
                            <span aria-hidden="true" class="glyphicon glyphicon-ok" style="cursor: pointer"></span>
                        {% else %}
                            <span aria-hidden="true" class="glyphicon glyphicon-remove" style="cursor: pointer"></span>
                        {% endif %}
                    </td>
                    <td>{{ row.cuentaAgrupacion }}</td>
                    <td>{{ row.creadoPor }}</td>
                    <td>{{ row.comentario }}</td>
                </tr>    
            {% endfor %}
        </tbody>

    </table>

{% endblock %}