{% extends '::base.html.twig' %}
{% block page_sub_header %}Catálogo de empresa {{ empresa }}{% endblock %}
{% block body -%}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger" role="alert">{{ flashMessage }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
    {% endfor %}
    
    <form method="post" action="{{ path("lcc_catCuenta_new")  }}">
        <div class="form-group">
            <label for="cmbCuentaAgrupacion">Cuenta de agrupacion</label>
            <select class="form-control" name="cmbCuentaAgrupacion" id="cmbCuentaAgrupacion">
                <option value="0">Sin cuenta de agrupacion</option>
                {% for cuenta in data.cuentas %}
                    <option value="{{cuenta.id}}">{{cuenta.codigo}} - {{cuenta.nombre}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                <label for="txtCodigoCuenta">Código de cuenta</label>
                <input name="txtCodigoCuenta" id="txtCodigoCuenta" type="text" class="form-control" placeholder="">
            </div>
            <div class="form-group col-sm-4">
                <label for="cmbTipoCuenta">Tipo de cuenta</label>
                <select class="form-control" name="cmbTipoCuenta" id="cmbTipoCuenta">
                    {% for tipo in data.tipos %}
                        <option value="{{tipo.id}}">{{tipo.letra}} - {{tipo.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="cmbClasficacionCuenta">Clasificación de cuenta</label>
                <select class="form-control" name="cmbClasficacionCuenta" id="cmbClasficacionCuenta">
                    {% for clase in data.clases %}
                        <option value="{{clase.id}}">{{clase.letra}} - {{clase.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="txtNombreCuenta">Nombre de cuenta</label>
            <input name="txtNombreCuenta" id="txtNombreCuenta" type="text" class="form-control" placeholder="">
        </div>

        <div class="form-group">
            <label for="txtComentario">Comentario</label>
            <input name="txtComentario" id="txtComentario" type="text" class="form-control" placeholder="">
        </div>

        <div class="form-group">
            <label for="cmbMoneda">Moneda</label>
            <select name="cmbMoneda" id="cmbMoneda" class="form-control">
                <option value="$">$ USD</option>
                <option value="€">€ Euro</option>
                <option value="¥">¥ Yen</option>
                <option value="£">£ Libra esterlina</option>
            </select>
        </div>

        <div class="form-group">
            <label for="txtSaldoInicial">Saldo inicial</label>
            <input id="txtSaldoInicial" name="txtSaldoInicial" min="0" type="number" class="form-control" value="0">
        </div>

        <button type="submit" class="btn btn-default">Guardar cuenta</button>
    </form>
{% endblock %}