{% extends '::base.html.twig' %}

{% block body -%}
    <h1>empresas list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Razonsocial</th>
                <th>Registroiva</th>
                <th>Nit</th>
                <th>Direccion1</th>
                <th>Direccion2</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('empresas_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.razonSocial }}</td>
                <td>{{ entity.registroIva }}</td>
                <td>{{ entity.nit }}</td>
                <td>{{ entity.direccion1 }}</td>
                <td>{{ entity.direccion2 }}</td>
                <td>{{ entity.activo }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('empresas_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('empresas_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('empresas_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
